@import url(/views/ext-libs/bootstrap.css);

/*Custom styling for the header/navbar */

#navbarCollapse {
  justify-content: flex-end;
}

#navbarCollapse li a {
  color: cornflowerblue;
  font-size: 18px;
}

#navbarCollapse li a:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-weight: bold;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: white;
}

#landing_section {
  background-color: #f6eeca;
}

.section_text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-content: space-around;
}

.section_text h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 400px;
  align-self: center;
  font-weight:normal;
  text-align: center;
  font-size: 42px;
}

.section_text p {
  align-self: center;
  font-size: 20px;
  text-align: center;
}

#activities_section p {
  text-align: left;
}

#activities_section li h6 {
  font-size: 30px;
  text-align: left;
}

#activities_section li a {
  color: black;
  text-decoration: underline;
  font-style: italic;
}


section > div {
  justify-content: space-around;
}

@media (min-width: 766px) {
  #sm-text {
    display: none;
  }
}

/* Since the about us section has a different layout than the other landing and
activities section, it looks different on a mobile view. The img comes before the
section text. Thus, in the code below, when screen size is <= 765px, section text
is rendered first before the image

*/
@media (max-width: 765px) {
  #about_us_section .section_img {
    order: 1;
  }

  #about_us_section .section_text {
    order: -1;
  }

  .section_text p, .section_text ul {
    display: none;
  }

  #sm-text {
    font-size: 15px;
    margin: 0 15px;
  }

  #activities_section li h6 {
    font-size: 25px;
    text-align: left;
  }
}

#about_us_section {
  background-color: #f2e6dc;
}

#activities_section {
  background-color: #f8eae4;
}

footer {
  background-color: #333E60;
  color: #d1d1d1;
}

footer .navbar-brand {
 color: #d1d1d1;
}

.footer-brand {
  align-items: center;
}

.footer-contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.footer-contact p {
  margin: 0;
  padding-bottom: 5px;
}


#ig_svg {
  background-color: #333E60;
  width: 25px;
}
