<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/views/home/home.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid mx-5 py-1">
        <a class="navbar-brand" href="#landing_section">Tech-R-US</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item pr-3">
              <a class="nav-link active" aria-current="page" href="#landing_section">Home</a>
            </li>
            <li class="nav-item pr-3">
              <a class="nav-link" href="#activities_section">Activities</a>
            </li>
            <li class="nav-item pr-3">
              <a class="nav-link" href="#about_us_section">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="landing_section" class="container-fluid h-25">
      <div class="row">
        <div class="section_text col-md-5 ml-md-5">
          <h6 class="pt-5">Expand The Limits Of Your Imagination</h6>

        </div>

        <div class="col-md-6">
          <img
            class="w-100"
            src="/data/Images/landing-front.jpg"
            alt="vector_character_illustration"
          />
        </div>

        <!-- This is extra text. When the screen size is less than 765px, the <p> above disappears
            and this one shows up. The section then shows in the format, <h6>, <img>, <div #sm-text>    
        -->
        <div id="sm-text" class="px-4 mb-4">
          
        </div>
      </div>
    </section>

    <section id="about_us_section" class="container-fluid h-25">
      <div class="row section_img">
        <div class="col-md-6">
          <img
            class="w-100"
            src="/data/Images/about_us.png"
            alt="vector_character_illustration"
          />
        </div>

        <div class="section_text col-md-5">
          <h6 class="pt-5">Who We Are</h6>
          <p>
            We are a group of individuals who love feeling free
            and want to be free. Thus, we seek to broaden our ideas. 
            We seek to expand the limits of our imagination.
          </p>
        </div>

        <!-- This is extra text. When the screen size is less than 765px, the <p> above disappears
            and this one shows up. The section then shows in the format, <h6>, <img>, <div #sm-text>    
        -->

        <div id="sm-text" class="px-4 mb-4">
          We are a group of individuals who love feeling free
          and want to be free. Thus, we seek to broaden our ideas. 
          We seek to expand the limits of our imagination.
        </div>
      </div>
    </section>

    <section id="activities_section" class="container-fluid h-25">
      <div class="row">
        <div class="section_text col-md-5 ml-md-5">
          <h6 class="pt-5">What We Do</h6>
          <p>
            We believe ideas are broadened through exposure and introspection. In light of this, 
            we seek to provide tools for exposure and introspection. Currently, our main focus is on 
            the Technological space. As such, Tech-R-Us is currently organized into two divisions:
            <ul>
              <li>
                <h6>The Awareness Division</h6>
                <p>As a sub-group within Tech-R-Us, we seek to raise awareness of the local 
                  and global tech culture mainly through discussions with industry persons.
                  <a href="https://www.youtube.com/channel/UC-LnOfR8JcZaR6YZTkA22Dg"> 
                    Checkout our Youtube Channel by clicking this link
                  </a>
                </p>
              </li>

              <li>
                <h6>The Projects Hub</h6>
                <p>
                  As a sub-group within Tech-R-Us, we seek to solve problems by developing technological
                  solutions in an effort to provide more tools to enhance our way of living.
                  You are interacting with our first project right now, our community website!
                </p>
              </li>
            </ul>
          </p>
        </div>

        <div class="col-md-6">
          <img
            class="w-100"
            src="/data/Images/activities.png"
            alt="vector_character_illustration"
          />
        </div>

        <!-- This is extra text. When the screen size is less than 765px, the <p> above disappears
            and this one shows up. The section then shows in the format, <h6>, <img>, <div #sm-text>    
        -->

        <div id="sm-text" class="px-4 mb-4">
          <p>
            We believe ideas are broadened through exposure and introspection. In light of this, 
            we seek to provide tools for exposure and introspection. Currently, our main focus is on 
            the Technological space. As such, Tech-R-Us is currently organized into two divisions:
            <ul>
              <li>
                <h6>The Awareness Division</h6>
                <p>As a sub-group within Tech-R-Us, we seek to raise awareness of the local 
                  and global tech culture mainly through discussions with industry persons.
                  <a href="https://www.youtube.com/channel/UC-LnOfR8JcZaR6YZTkA22Dg"> 
                    Checkout our Youtube Channel by clicking this link
                  </a>
                </p>
              </li>

              <li>
                <h6>The Projects Hub</h6>
                <p>
                  As a sub-group within Tech-R-Us, we seek to solve problems by developing technological
                  solutions in an effort to provide more tools to enhance our way of living.
                  You are interacting with our first project right now, our community website!
                </p>
              </li>
            </ul>
          </p>
        </div>
      </div>
    </section>

    <footer class="container-fluid">
      <div class="row">
        <div class = "footer-brand d-flex col-sm-6">
          <a class="navbar-brand" href="#landing_section">Tech-R-US</a>
          <p class="">© 2021</p>
        </div>
  
        <div class="col-sm-6 d-flex footer-contact">
          <p class="">Tel: (+233) 50 729 9786, (+233) 50 566 5001</p>
          <p class="">Email: techrus233@gmail.com</p>
          <a href="https://instagram.com/techrus_">
            <img id="ig_svg" src="/data/Images/instagram.svg" alt="" /> 
          </a>

        </div>
      </div>
      
    </footer>

    <script src="/views/ext-libs/bootstrap.bundle.min.js"></script>
  </body>
</html>
